<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
    <meta http-equiv="Content-Type" content="application/json; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <title>All Virus List</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h2>All Virus List</h2>
    </div>
    <table class="table table-striped" border="1px">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Side Effects</th>
            <th>Creator</th>
            <th>IsDeadly</th>
            <th>IsCurable</th>
            <th>Mutation</th>
            <th>Turnover Rate</th>
            <th>Hours Until Turn</th>
            <th>Magnitude</th>
            <th>Released On</th>
        </tr>
        <tbody>
        <tr th:each="virus:${allVirusList}">
            <td th:text="${virus.id}"></td>
            <td th:text="${virus.name}"></td>
            <td th:text="${virus.description}"></td>
            <td th:text="${virus.sideEffects}"></td>
            <td th:text="${virus.creator}"></td>
            <td th:text="${virus.isDeadly}"></td>
            <td th:text="${virus.isCurable}"></td>
            <td th:text="${virus.mutation}"></td>
            <td th:text="${virus.turnoverRate}"></td>
            <td th:text="${virus.hoursUntilTurn}"></td>
            <td th:text="${virus.magnitude}"></td>
            <td th:text="${virus.releasedOn}"></td>
        </tr>
        <tbody>
    </table>
</div>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/tether.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
