<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="application/json; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <title>All Virus List</title>
</head>
<body>
<h2>Resident Evil home</h2>

<header th:replace="/fragments/menu::menu"></header>

<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/tether.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>